/*** sectioning elements ***/

body {
  color: #fd9802;
}

header {
  color: #fd9802;
  background-color: #14145a;
  text-align: center;
  font-size: 20px;
  font-family: "Ubuntu Condensed";
}

header a:visited,
header a:link {
  color: #fd9802;
  text-decoration: none;
}

header a:hover,
header a:active {
  text-decoration: underline;
}

main {
  color: #14145a;
  background-color: #fd9802;
  font-size: 20px;
  font-family: "Arsenal";
}

main a:visited,
main a:link {
  color: #761414;
  text-decoration: none;
}

main a:hover,
main a:active {
  color: #761414;
  text-decoration: underline;
}

footer {
  color: #fd9802;
  background-color: #14145a;
  font-family: "Ubuntu Condensed";
  font-size: 20px;
}

footer a:visited,
footer a:link {
  color: #fd9802;
  text-decoration: none;
}

footer a:hover,
footer a:active {
  text-decoration: underline;
}

nav {

}

section {

}

aside {

}


/**** content styles ***/

h1 {
  text-align: center;
  color: #fd9802;
}

h2 {
  text-align: center;
  color: #14145a;
}

h3 {
  text-align: center;
  color: #14145a
}

h4 {

}

h5 {

}

h6 {

}

p {
  line-height: 0px;
}

blockquote {

}

ol {

}

ul {

}

li {

}

table {

}

tr {

}

th {

}

td {
  color: #fd9802;
}


/*** image styles ***/

img  {

}


/*** link styles ***/

a:link {

}

a:visited {

}

a:hover {

}

a:active {

}



/* ==================================================

   Odin component overrides

   ================================================*/

/* navbar */
.navbar {
  background-color: #14145a;
  font-family: "Ubuntu Condensed";
}

.navbar-brand {
  color: #fff;
  font-family: cursive;
}

.navbar-brand a:link,
.navbar-brand a:visited {
  color: #fd9802;
  font-family: "Ubuntu Condensed";
}

.navbar-brand a:hover,
.navbar-brand a:active {
  border-bottom: 3px solid #fd9802;
  text-decoration: none;
}

.navbar-menu a:link,
.navbar-menu a:visited {
  color: #fd9802;
  font-family: "Ubuntu Condensed";
}

.navbar-menu a:hover,
.navbar-menu a:active {
  border-bottom: 3px solid #fd9802;
  text-decoration: none;
}

.menu-toggle {
  color: #fd9802;
}

.menu-dismiss {
  color: #fd9802
}

.navbar-slideout,
.navbar-menu {
  background-color: #14145a;
}

.navbar-slideout .navbar-menu,
.navbar-slideout-xs .navbar-menu,
.navbar-slideout-sm .navbar-menu,
.navbar-slideout-md .navbar-menu,
.navbar-slideout-lg .navbar-menu,
.navbar-slideout-xl .navbar-menu {
  background-color: #14145a;
}

.shade-even-rows {

}

.shade-odd-rows {
  background-color: #14145a;
  color: #fd9802;
}

table.shade-even-rows tbody tr:nth-child(even),
table.shade-even-rows tbody tr:nth-child(even) a:visited,
table.shade-even-rows tbody tr:nth-child(even) a:link {
  background-color: #14145a;
  color: #fd9802;
}

table.shade-odd-rows tbody tr:nth-child(odd),
table.shade-odd-rows tbody tr:nth-child(odd) a:visited,
table.shade-odd-rows tbody tr:nth-child(odd) a:link {
  background-color: #fd9802;
  color: #14145a;
}

table.table-basic th {
  color: #fd9802;
}

tbody tr:nth-child(odd) td {
  color: #14145a;
}

tbody tr:nth-child(even) td {
  color: #fd9802;
}

table.table-stack-xs td:before,
table.table-stack-sm td:before,
table.table-stack-md td:before,
table.table-stack td:before {
  color: #fd9802;
}

tbody tr:nth-child(odd) td:before {
  color: #14145a;
}

table.table-basic caption {
  color: #14145a;
}

table.table-basic th {
  border-bottom: none;
  border-top: none;
}

table.table-basic tbody tr {
  border-bottom: none;
}

table.table-stack-xs tbody tr,
table.table-stack-sm tbody tr,
table.table-stack-md tbody tr,
table.table-stack tbody tr {
  border: none;
}
